 <%- include ("sidebar")%>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">New Tender</h5>
            </div>
            <div class="card-body">
             

              <!-- Multi Columns Form -->
              
              <form onsubmit="return false">
                <br>
                <span><b>Item Name</b><input class="form-control" id="itemName"></span><br>

                <span><b>Item Description</b><textarea class="form-control" id="itemDesc"></textarea></span><br>

                <span><b>Item Quantity</b><input class="form-control" type="number" id="itemQuantity"></span><br>

                <span id="content">
                    <input class="w3-button w3-green" id="create" style="width:150px;" type="submit" value="Upload a Tender"><br>
                </span>
            </form>

            </div>
          </div>
    </div>
    <div class="col-md-2"></div>
    
    <div class="col"></div>
</div>
<script src="https://cdn.ethers.io/lib/ethers-5.2.umd.min.js" type="application/javascript"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script>
 $(document).ready(()=>{
let address = "<%- address %>";
let abi =  [
     "function createTender(string memory _itemName, string memory _itemDescription, uint _quantity) public",
]
     // A Web3Provider wraps a standard Web3 provider, which is
// what MetaMask injects as window.ethereum into each page
const provider = new ethers.providers.Web3Provider(window.ethereum)
// The MetaMask plugin also allows signing transactions to
// send ether and pay to change state within the blockchain.
// For this, you need the account signer...
const signer = provider.getSigner()
//get the contract in write mode

const contract = new ethers.Contract(address,abi,signer)

$("#create").click(async()=>{

    alert("Clicked")
  
    let name = $("#itemName").val()
    let Quantity= $("#itemQuantity").val()
    let Description= $("#itemDesc").val()

    let result = await contract.createTender(name,Description,Quantity);
    let receipt = await  result.wait()
    console.log(receipt)

    


})
 



   
 })

</script>

 <%- include ("footer") %>